﻿@model ExtendedProductModel
@{
    const string hideRelatedBlogPostsBlockAttributeName = "ProductPage.HideRelatedBlogPostsBlock";
}

<nop-panel asp-name="product-related-blog-posts"
           asp-icon="fa fa-cart-arrow-down"
           asp-title="@T("VIU.Plugin.Extensions.Product.RelatedBlogPostsTabTitle")"
           asp-hide-block-attribute-name="@hideRelatedBlogPostsBlockAttributeName"
           asp-hide="false"
           asp-advanced="false">
    <div class="panel-body">
        <p>
            @T("Admin.Catalog.Products.RelatedBlogPosts.Hint")
        </p>
        @if (Model.ProductId > 0)
        {
            <div class="panel panel-default">
                <div class="panel-body">
    
                    @await Html.PartialAsync("Table", new DataTablesModel
                    {
                        Name = "relatedblogposts-grid",
                        UrlRead = new DataUrl("RelatedBlogPostList", "ExtendedProduct", new RouteValueDictionary {[nameof(Model.RelatedBlogPostSearchModel.ProductId)] = Model.RelatedBlogPostSearchModel.ProductId}),
                        UrlDelete = new DataUrl("RelatedBlogPostDelete", "ExtendedProduct", null),
                        UrlUpdate = new DataUrl("RelatedBlogPostUpdate", "ExtendedProduct", null),
                        Length = Model.RelatedBlogPostSearchModel.PageSize,
                        LengthMenu = Model.RelatedBlogPostSearchModel.AvailablePageSizes,
                        ColumnCollection = new List<ColumnProperty>
                        {
                            new ColumnProperty(nameof(RelatedBlogPostModel.Title))
                            {
                                Title = T("Plugins.VIU.Extensions.Product.RelatedBlogPosts.Fields.Title").Text
                            },
                            new ColumnProperty(nameof(RelatedBlogPostModel.LanguageName))
                            {
                                Title = T("Plugins.VIU.Extensions.Product.RelatedBlogPosts.Fields.LanguageName").Text
                            },
                            new ColumnProperty(nameof(RelatedBlogPostModel.DisplayOrder))
                            {
                                Title = T("Plugins.VIU.Extensions.Product.RelatedBlogPosts.Fields.DisplayOrder").Text,
                                Width = "150",
                                ClassName = NopColumnClassDefaults.CenterAll,
                                Editable = true,
                                EditType = EditType.Number
                            },
                            new ColumnProperty(nameof(RelatedBlogPostModel.RelatedBlogPostId))
                            {
                                Title = T("Admin.Common.View").Text,
                                Width = "150",
                                ClassName = NopColumnClassDefaults.Button,
                                Render = new RenderButtonView(new DataUrl("~/Admin/Blog/BlogPostEdit/", nameof(RelatedBlogPostModel.Title)))
                            },
                            new ColumnProperty(nameof(RelatedBlogPostModel.Id))
                            {
                                Title = T("Admin.Common.Edit").Text,
                                Width = "200",
                                ClassName = NopColumnClassDefaults.Button,
                                Render = new RenderButtonsInlineEdit()
                            },
                            new ColumnProperty(nameof(RelatedBlogPostModel.Id))
                            {
                                Title = T("Admin.Common.Delete").Text,
                                Width = "100",
                                Render = new RenderButtonRemove(T("Admin.Common.Delete").Text),
                                ClassName = NopColumnClassDefaults.Button
                            }
                        }
                    })
                </div>
                <div class="panel-footer">
                    <button type="submit" id="btnAddNewRelatedBlogPost" class="btn btn-primary" onclick="javascript:OpenWindow('@Url.Action("RelatedBlogPostAddPopup", "ExtendedProduct", new {productId = Model.ProductId, btnId = "btnRefreshRelatedBlogPosts", formId = "product-form"})', 800, 800, true); return false;">
                        @T("Admin.Catalog.Products.RelatedBlogPosts.AddNew")
                    </button>
                    <input type="submit" id="btnRefreshRelatedBlogPosts" style="display: none"/>
                    <script>
                        $(document).ready(function () {
                            $('#btnRefreshRelatedBlogPosts').click(function () {
                                updateTable('#relatedblogposts-grid');
                                return false;
                            });
                        });
                    </script>
                </div>
            </div>
        }
        else
        {
            <div class="panel panel-default">
                <div class="panel-body">
                    @T("Admin.Catalog.Products.RelatedBlogPosts.SaveBeforeEdit")
                </div>
            </div>
        }
    </div>
</nop-panel>