@model AddRelatedBlogPostSearchModel
@{
    Layout = "_AdminPopupLayout";
    ViewBag.Title = T("VIU.Plugin.Extensions.Product.RelatedBlogPosts.AddNew").Text;
}
@if (ViewBag.RefreshPage == true)
{
    <script>
        try {window.opener.document.forms['@(Context.Request.Query["formId"])'].@(Context.Request.Query["btnId"]).click();}
        catch (e){}
        window.close();
    </script>
}
else
{
    <form asp-controller="ExtendedProduct" asp-action="RelatedBlogPostAddPopup"
          asp-route-productId="@Context.Request.Query["productId"]"
          asp-route-btnId="@Context.Request.Query["btnId"]"
          asp-route-formId="@Context.Request.Query["formId"]">
        <div class="content-header clearfix">
            <h1 class="pull-left">@T("VIU.Plugin.Extensions.Product.RelatedBlogPosts.AddNew")</h1>
            <div class="pull-right">&nbsp;</div>
        </div>
        <div class="content">
            <div class="form-horizontal">
                <div class="panel-group">
                    <div class="panel panel-default panel-search panel-popup">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <div class="col-sm-5">
                                            <nop-label asp-for="SearchBlogTitle"/>
                                        </div>
                                        <div class="col-sm-7">
                                            <nop-editor asp-for="SearchBlogTitle"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group" @(Model.AvailableStores.SelectionIsNotPossible() ? Html.Raw("style=\"display:none\"") : null)>
                                        <div class="col-sm-5">
                                            <nop-label asp-for="SearchStoreId"/>
                                        </div>
                                        <div class="col-sm-7">
                                            <nop-select asp-for="SearchStoreId" asp-items="Model.AvailableStores"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <button type="button" id="search-blogposts" class="btn btn-primary btn-search">
                                        <i class="fa fa-search"></i>
                                        @T("Admin.Common.Search")
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-body">
                            @await Html.PartialAsync("Table", new DataTablesModel
                            {
                                Name = "blogposts-grid",
                                UrlRead = new DataUrl("RelatedBlogPostAddPopupList", "ExtendedProduct", null),
                                SearchButtonId = "search-blogposts",
                                Length = Model.PageSize,
                                LengthMenu = Model.AvailablePageSizes,
                                Filters = new List<FilterParameter>
                                {
                                    new FilterParameter(nameof(Model.SearchBlogTitle)),
                                    new FilterParameter(nameof(Model.SearchStoreId))
                                },
                                ColumnCollection = new List<ColumnProperty>
                                {
                                    new ColumnProperty(nameof(BlogPostModel.Id))
                                    {
                                        IsMasterCheckBox = true,
                                        Render = new RenderCheckBox(nameof(AddRelatedBlogPostModel.SelectedBlogPostIds)),
                                        ClassName = NopColumnClassDefaults.CenterAll,
                                        Width = "50",
                                    },
                                    new ColumnProperty(nameof(BlogPostModel.Title))
                                    {
                                        Title = T("VIU.Plugin.Extensions.Product.RelatedBlogPost.Title").Text
                                    },
                                    new ColumnProperty(nameof(BlogPostModel.LanguageName))
                                    {
                                        Title = T("VIU.Plugin.Extensions.Product.RelatedBlogPost.LanguageName").Text,
                                        Width = "100",
                                        ClassName = NopColumnClassDefaults.CenterAll,
                                        Render = new RenderBoolean()
                                    }
                                }
                            })
                        </div>
                        <div class="panel-footer">
                            <button type="submit" name="save" class="btn bg-blue">
                                <i class="fa fa-floppy-o"></i>
                                @T("Admin.Common.Save")
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
}